body{
    background:#f5f7fa;
}

.card{
    border:none;
    border-radius:15px;
}

.card-header{
    border-radius:15px 15px 0 0 !important;
}

table{
    font-size:0.95rem;
}

.btn{
    min-width:140px;
    font-weight:600;
    transition:.2s;
}

.btn:hover{
    transform:translateY(-2px);
}

#cantidadAlumnos{
    font-size:1.1rem;
}

tbody tr:hover{
    cursor:pointer;
}